/* 
  Styles from this codepen:
  https://codepen.io/Alzaeem243/pen/ZJMrGR 
*/

h1 {
  /* font-family: "Courier New"; */
  margin: 70px 0 50px;
  color: #0000ff;
  text-align: center;
  font-size: 50px
}

#file {  display: none}
#envoie {  display: none}

label {
  display: block;
  margin: 10px auto;
  font-size: 20px;
  font-family: Arial;
  width: 250px;
  /* height: 40px; */
  line-height: 40px;
  background-color: #0000ff;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: all 0.3s ease-in-out
}

label:hover {
  background-color: #1273f3;
  color: #ffffff;
}
.fa {
  margin-right: 5px
}



/* https://isabelcastillo.com/error-info-messages-css */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}